[api files]
ohos_interface/include/ @zhangyanchuan @defeng2020 @fredranking @leezheng_hz @yjone @liuyaoming

[glue files]
ohos_interface/ohos_glue/ @zhangyanchuan @defeng2020 @fredranking @leezheng_hz @yjone @liuyaoming

[config files]
ohos_interface/BUILD.gn @zhangyanchuan
ohos_interface/.gitignore @zhangyanchuan

[OpenHarmony adapter]
interfaces/kits/cj/ @arkwebbuild

[DFX]
ohos_nweb/src/nweb_crashpad_handler_main.cpp @chenbushan
ohos_nweb/src/nweb_hisysevent.cpp @chenbushan
ohos_adapter/hiviewdfx_adapter @chenbushan
test/fuzztest/ohos_nweb/hisysevent_fuzzer @chenbushan
test/unittest/ohos_adapter/hiviewdfx_adapter_test @chenbushan
